@model IEnumerable<vendeglo_2.Models.MenuItem>

@{
    ViewBag.Title = "Index";
    var category = "";
}

<h2>Menu</h2>


    

@foreach (var MenuItem in Model)
{

    if (category != MenuItem.Category.Name)
    {
        //megjegyezni és kiírni a kategória nevet
<h3>
    @Html.DisplayFor(modelItem => MenuItem.Category.Name)
</h3>
       

        category = MenuItem.Category.Name;
    }

<h4>
    @Html.DisplayFor(modelItem => MenuItem.Name)
</h4>

<p>
    @Html.DisplayFor(modelItem => MenuItem.Description)
</p>

<p>
    <strong>@Html.DisplayFor(modelItem => MenuItem.Price)</strong> 
</p>
           
           
           
            
            
}

